<app-navbar (featureSelected)="onNavigate($event)"></app-navbar>

<!-- wyświetlanie listy boardow -->
<div class="container" *ngIf="loadedFeature === 'show-boards'">
    <h2>Your boards</h2>
    <ul class="list-group">
        <div *ngFor="let board of boards">
            <li class="list-group-item"><a (click)="goToBoard(board.board_id)">{{ board.board_name }}</a><span class="badge">15 lists </span></li>
        </div>
    </ul>
</div>


<!-- formularz tworzenia nowej tablicy -->
<div class="container" *ngIf="loadedFeature === 'new-board'">
    <h2>Add new board</h2>
    <form class="form-inline">
        <div class="my-2 mr-2">
            <input #newBoardName type="text" class="form-control" placeholder="Board name">
        </div>

        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlInline">
            <label class="custom-control-label" for="customControlInline"> Private board</label>
        </div>

        <button type="submit" class="btn btn-primary my-1" (click)="addNewBoard(newBoardName.value)">Submit</button>
    </form>
</div>


<!-- wyświetlanie boarda -->
<div class="container" *ngIf="loadedFeature === 'board'">
    <div class="row">
        <div class="col-md-12">
            <app-board [b]="selectedBoard"></app-board>
        </div>
    </div>
</div>
  