<app-navbar (featureSelected)="onNavigate($event)"></app-navbar>

<!-- wyświetlanie listy boardow -->
<div class="container" *ngIf="loadedFeature === 'show-boards'">
    <h2>Your boards</h2>
    <ul class="list-group">
        <div *ngFor="let board of boards">
            <li class="list-group-item"><a (click)="goToBoard(board.board_id)">{{ board.board_name }}</a>
                <div *ngIf="(selectedBoardForRename == board.board_id && showRenameInput === true)">
                    <input #boardRenameValue type="text" class="form-control" placeholder="New board name">
                    <button type="submit" class="btn btn-primary my-1"
                        (click)="renameBoard(board.board_id, boardRenameValue.value); selectedBoardForRename = -1; showRenameInput = false">Rename</button>
                    <button type="submit" class="btn btn-primary my-1"
                        (click)="showRenameInput = false; selectedBoardForRename = -1">Close</button>
                </div>
                <div class="dropdown pull-right" appDropdown *ngIf="selectedBoardForRename != board.board_id">
                    <button class="dropdown-toggle"><span class="glyphicon glyphicon-edit">Edit</span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="selectBoardForRename(board.board_id)">Rename</a></li>
                        <li><a (click)="deleteBoard(board.board_id)">Delete</a></li>
                    </ul>
                </div>
            </li>
        </div>
    </ul>
</div>


<!-- formularz tworzenia nowej tablicy -->
<div class="container" *ngIf="loadedFeature === 'new-board'">
    <h2>Add new board</h2>
    <form class="form-inline">
        <div class="my-2 mr-2">
            <input #newBoardName type="text" class="form-control" placeholder="Board name">
        </div>
        <button type="submit" class="btn btn-primary my-1" (click)="addNewBoard(newBoardName.value)">Submit</button>
    </form>
</div>


<!-- wyświetlanie boarda -->
<div class="container" *ngIf="loadedFeature === 'board'">
    <div class="row">
        <div class="col-md-12">
            <app-board [b]="selectedBoard"></app-board>
        </div>
    </div>
</div>