<!-- jeśli jest jakaś lista to ją wyświetla -->
<div *ngIf="listExists == true">
    <div class="row" style="margin-left: 3px;">
        <h3><strong>{{ list.list_name }} <!--(list id: {{ list.list_id }})--></strong></h3>
    </div>
    <!--<div class="row" *ngFor="let row of rows" id="card" (mouseenter)="showDeleteRowButton(row.row_id, true)"
        (mouseleave)="showDeleteRowButton(row.row_id, false)">-->
    <div class="row" *ngFor="let row of rows" id="card">
        <span (click)="showDeleteRowButton(row.row_id)"><strong>{{ row.row_name }}</strong></span>
        <div *ngIf="(deleteRowButton && row.row_id === selectedRow )">
            <span>
                {{ row.row_description }}
            </span>

            <div class="dropdown pull-right" appDropdown>
                <button class="dropdown-toggle"><span class="glyphicon glyphicon-edit"></span></button>
                <ul class="dropdown-menu">
                    <li><a>Rename Row</a></li>
                    <li><a (click)="deleteRow(row.row_id)">Delete Row</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Dodawanie nowego wiersza do listy -->
<div *ngIf="(showRowInput === false && listExists === true)">
    <button type="button" class="btn btn-primary" (click)="onAddCardClick()"> Add card </button>
</div>
<!-- formularz dodawania wiersza -->
<div class="container" *ngIf="showRowInput === true">
    <form class="form-inline">
        <div class="my-2 mr-2">
            <input #rowInput type="text" class="form-control" placeholder="Wprowadź tytuł dla tej karty">
        </div>

        <button type="submit" class="btn btn-primary my-1" (click)="addNewRow(rowInput.value)">Submit</button>
        <button type="submit" class="btn btn-primary my-1" (click)="onHideClick()">Close</button>
    </form>
</div>