<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Trello</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a (click)="onSelect('new-board')">New Board</a></li>
                <li><a (click)="onSelect('show-boards')">Show Boards</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="" role="button">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>